* {  
  margin: 0px;
  padding: 0px;
}

html {
  display: block;
}

body {
  background-image: url("rename.jpg");
  margin: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

header, footer, aside{
  background-color: lightgrey;
}

main {
  display: grid;
  align-self: center;
  grid-template-columns: 60% 60% 60%;
  background-color: #fff;
  color: #444;
  padding: 1em;
}

section {
  background-color: #006747;
  color: #fff;
  border-radius: 0.5em;
  padding: 1em;
  margin: 0.5em;
  font-size: 1em;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: aliceblue;
  padding: 10px;
}

ol, ul {
  padding-left: 1em;
  padding-bottom: 1em;
}

li {
   text-align: left;
   font-size: 1em;
}

a {
  text-decoration: none;
}

.navbar-nav{
  background-color: orange;
  width: 100%;
}

/* .container-fluid{
  background-color: orange;
  width: 100%;
  text-align: left;
  align-content: flex-start;
} */