.sectionheader{
    text-align: center;
    font: bold;
    
}
body{
    background-image: url('file:///C:/Users/S533569/Desktop/rename.jpg');
}

img{
    border-radius: 50%;
    max-height: 400px;
    max-width: 400px;
    width: 200px;
    height: 200px
}

#sectionheader{
    color: black;
}
#Aboutme{
    color:orangered;
    font: bold;
    margin:5px;
}

.Pastsection{
    border-style: solid;
    color: black;
    font-style: inherit; 
    }
    
.Futuresection{

    /* border-style: dotted; */
    /* outline-color: darkred; */
    color: orange;

}

.Schedule{
    color: darkgreen;
    list-style-type: disc;
    background-color: aqua;

}
.asideheader{
    color: darkorange;
}

.tq{
    text-align: center;
}

footer{
    background-color: blueviolet;
    color: azure;
    font-style: initial;
}
